.form-component {
    width: 90%;
    margin: auto;
    margin-top: 20%;
    background-color: inherit;
}

option { 
    /* Whatever color  you want */
    background-color: #070221;
    font-weight: 500;
}
